/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Inter', sans-serif;
}

.login-signup {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
}

.nav-bar {
  display: flex;
  border-bottom: 0.0625rem solid rgb(230, 229, 229);
  height: 2.5rem;
  opacity: 1;
  overflow: auto hidden;
  width: 100vw;
}

.top-bar {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-areas:
      "hamburger logo actions"
      "search search search";
  row-gap: 0.5rem;
  padding: 0.125rem max(env(safe-area-inset-left),1rem) 1rem;
  overflow: hidden;
}

.hamburger {
  grid-area: hamburger / hamburger / hamburger / hamburger;
  align-self: center;
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 6px 0;
}

.logo {
  grid-area: logo / logo / logo / logo;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.wm-logo {
  width: 50px;
  height: 50px;
}

.actions {
  align-self: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  grid-area: actions / actions / actions / actions;
  display: flex;
}

#cart {
  width: 24px;
  height: 24px;
  color: rgb(96, 100, 111);
}

.order-banner {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: rgb(96, 100, 111);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  width: 100%;

}