.product-footer {
  display: flex;
  border-top: .0625rem solid rgb(230, 229, 229);
  padding: 1rem 1rem;
  align-items: center;
  justify-content: space-between;  
  bottom: 0;
  margin-top: auto;
}

.footer-text {
  font-weight: 400;
  color: rgb(96, 100, 111);
  margin: 0px;
  padding: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'Arial', sans-serif;
}

.socials {
  height: 30px;
  border-radius: 20px;
  justify-content: center;
  border: 2px solid rgb(78, 78, 78);
}

.social-container {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}