.orders-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  top: 10px;
  /* max-width: 700px; */
  margin: auto;
  margin-top: 10%;
  margin-bottom: 40px;
}

.delivery-header, .order-header {
    font-family: circular, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    width: 100%;
    padding: 1rem;
    color: rgb(37, 41, 53);
 }
 
/* .order-products{
    display: flex;
    flex-direction: column;
    top: 50px;
    width: 600px;
    padding: 10px;
} */

/* .quantity-select{
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: rgba(130, 130, 130, 1);
} */
/* 
.order-product-price{
    position: relative;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding-bottom: 0px;
} */

.dispensary-order-box, .products-order-box {
    line-height: 1.5;
    max-width: 100%;
    min-width: 14rem;
    padding: 0px;
    width: 24rem;
    margin: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    display: flex;
    height: auto;
    position: relative;
    transition: box-shadow 300ms ease 0s;
}

.dispensary-order-info, .product-order-info {
    display: flex;
    margin: 10px;
    flex-direction: column;
    row-gap: 0.125rem;
    align-content: start;
    justify-items: start;
    color: rgb(96, 100, 111);
    margin-left: 1rem;
}
.prod_pic, .dispo_pic{
    width: 96px;
    height: 96px;
    margin: 10px;
    
}

.order-right{
    padding: 1rem;
    position: relative;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px;
    overflow: hidden;
    width: 33.3333%;
    padding-left: 16px;
    padding-right: 16px;
}

.order-left {
    position: relative;
    width: 66.6667%;
    padding-left: 16px;
    padding-right: 16px;
}

.popup-close > * {
    margin: auto;
    align-items: center;
}

/* .size-order{
    padding-bottom: 15px;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(130, 130, 130, 1);
} */
 

/* .order-info-wrapper{
    position: relative;
    left: 150px;
    top: -150px;
    padding-left: 15px;
} */
/* 
.select-dropdown{
    border-color: lightgray;
    border-radius: 5px;
} */

/* .order-header{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.order-item-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.order-item-price{
    font-family: 'Open Sans', sans-serif;
    color: rgba(130, 130, 130, 1);
} */


.delete-button{
    border: none;
    background-color: white;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    color: rgba(130, 130, 130, 1);
    cursor: pointer;
    font-size: 15px;
    padding: 0px;
}

/* .summary{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
} */

/* .subtotal{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 15px;
} */

/* .total{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
} */

.checkoutButton {
  color: rgb(255, 255, 255);
  font-size: 13px;
  border: 0px;
  margin: 0px 0px 0px 8px;
  background-color: #00a8a3;
  border-radius: 9999px;
  padding: 7px 16px;
  text-decoration: none;
}

.checkoutButton:hover {
    background-color: lightgray;
    color: black;
}

.order-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.Order-header1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    position: relative;
    width: 100%;
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  bottom: 25%;
  height: 400px;
  width: 600px;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
}

.popup-header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
}

.popup-header-checkout{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color:rgba(130, 130, 130, 1);
}

.popup-gif{
    display:flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
}

.popup-button{
    border:none;
    border-radius: 50px;
    background-color: #00a8a3;
    color: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    width: 40%;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
    display:flex;
    justify-content: center;
}

.popup-button:hover{
    background-color: lightgrey;
}

.continue-shopping{
    cursor: pointer;
    color: whitesmoke;
}

.add-items-container > * {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-items-container {
    vertical-align: middle;
    margin-top: 20%;
}