.orders-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  top: 10px;
  max-width: 700px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 40px;
}

.order-left{
    display: flex;
    padding-right: 30px;
    width: 600px;
}

.order-products{
    position: absolute;
    top: 50px;
    width: 600px;
    align-items: center;
}

.size-order {
    position: relative;
    display: inline-block;
}

.quantity-select{
    position: relative;
    display: inline-block;
    font-family: 'Baloo Tamma 2', cursive;
    color: rgba(130, 130, 130, 1);
}

.order-product-price{
    position: relative;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding-bottom: 0px;
}

.url{
    /* width: 150px; */
    height: 150px;
}

.popup-close > * {
    margin: auto;
    align-items: center;
}
.size-order{
    padding-bottom: 15px;
    padding-right: 20px;
    font-family: 'Baloo Tamma 2', cursive;
    color: rgba(130, 130, 130, 1);
}

.order-product-container{
    width: 100%;
    display: inline-block;
    position: relative;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.order-info-wrapper{
    position: relative;
    left: 150px;
    top: -150px;
    padding-left: 15px;
}

.select-dropdown{
    border-color: lightgray;
    border-radius: 5px;
}

.order-right{
    width: 300px;
}

.total-header{
    display:inline-block;
}

.total-price{
    display:inline-block;
}

.total{
    display: flex;
    justify-content: space-between;
}

.order-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.order-item-name{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.order-item-price{
    font-family: 'Baloo Tamma 2', cursive;
    color: rgba(130, 130, 130, 1);
}


.delete-button{
    border: none;
    background-color: white;
    text-decoration: underline;
    font-family: 'Baloo Tamma 2', cursive;
    color: rgba(130, 130, 130, 1);
    cursor: pointer;
    font-size: 15px;
    padding: 0px;
}

.summary{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}

.subtotal{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 15px;
}

.total{
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.checkoutButton {
  color: rgb(255, 255, 255);
  font-size: 13px;
  border: 0px;
  margin: 0px 0px 0px 8px;
  background-color: #00a8a3;
  border-radius: 9999px;
  padding: 7px 16px;
  text-decoration: none;
}

.checkoutButton:hover {
    background-color: lightgray;
    color: black;
}

.order-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.Order-header1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    position: relative;
    width: 100%;
}

.order-left1{
    display: flex;
    padding-right: 30px;
    width: 600px;
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  bottom: 25%;
  height: 400px;
  width: 600px;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: white;
}

.popup-header{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
}

.popup-header-checkout{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color:rgba(130, 130, 130, 1);
    font-family: Arial, Helvetica, sans-serif;
}

.popup-gif{
    display:flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
}

.popup-button{
    border:none;
    border-radius: 50px;
    background-color: #00a8a3;
    color: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    width: 40%;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
    display:flex;
    justify-content: center;
}

.popup-button:hover{
    background-color: lightgrey;
}

.continue-shopping{
    cursor: pointer;
    color: whitesmoke;
}

.add-items-container > * {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-items-container {
    vertical-align: middle;
    margin-top: 20%;
}