.product-index-img {
  width: 200px;
  height: 200px;
  max-height: auto;
  max-width: auto;
  border-radius: 5%;
  top: 0px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  align-items: center;
  vertical-align: middle;
}

.product-info {
  display: flex;
  margin: 10px;
  width: 100%;
  border-bottom: 0.0625rem solid rgb(230, 229, 229);
}

.product-name {
  font-family: 'Cabin', sans-serif;
  color: #1a1b1e;
  padding-right: 0px;
  font-size:  20px;
  letter-spacing: -0.003125rem;
  line-height: 1.75rem;
  margin: 0px, 0px, 3px;
  font-size: 24px;
}

.featured-products {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 3%;
  font-size: 25px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-direction: row;
  color: rgb(37, 41, 53);
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
}

.product-index-category {
  font-size: 15px;
}
